@model WebAppen.Models.PhotoVM

@{
    ViewBag.Title = "Ladda Upp";
}


<div id="result"></div>
<div id="resultreg"></div>
<h2>@ViewBag.Title.</h2>

<form action="@Url.Action("Create", "Photo")" id="form" enctype="multipart/form-data" class="form-horizontal" method="post">
   
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AlbumID, new { id = "hiddenfield", Value = Model.AlbumID })
    <div class="form-horizontal">
        <h4>Foto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="photo" class="control-label col-md-2">Foto</label>
            <div class="col-md-10">
                <input id="photo" name="photo" type="file"/>
            </div>
        </div>
        <div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublicPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsPublicPhoto)
                    @Html.ValidationMessageFor(model => model.IsPublicPhoto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=Skapa class="btn btn-default" id="submitbtn" required />
            </div>
        </div>
    </div>
    
</form>

<div>
    @Html.ActionLink("Tillbaka till album", "ViewAlbum", "Album", new { id = Model.AlbumID }, new { @ID = "backbtn" })
</div>
<h3>Albumets Bilder</h3>
<div id="bilder"></div>

@section scripts{
    


    <script type="text/javascript">

        $('document').ready(function (e) {


            reloadComments();
        });


        var bilder = $('#bilder');

        var reloadComments = function (e) {

            
            $.ajax({
                type: "GET",
                url: "../../Photo/Showphotos?id=" + $('#hiddenfield').val(),
                success: function (data) {
                    $('#bilder').html(data);
                }
            });



        };







        var form = $('#form');

        form.submit(function (e) {

            e.preventDefault();
            if (form.valid()) {
                swal({
                        title: "Ladda upp",
                        text: "OK för att ladda upp",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true
                    },
                    function () {
                        $.ajax({
                            method: "POST",
                            url: "/Photo/Create",

                            data: new FormData(form[0]),
                            success: function (data) {
                                if (data.match("^Added")) {
                                    uploadMoreImagesPrompt();
                                }
                                else {
                                    swal("Oh no!", data, "error")
                                }
                            },
                            error: function (e) {
                                swal("Oh no!", "Something went wrong at the server!", "error")
                            },
                            processData: false,
                            contentType: false
                        });
                    });

            }
        });

        var uploadMoreImagesPrompt = function() {

            swal({
                    title: "OK!?",
                    text: "Ladda upp fler?",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#779b79",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        form[0].reset();
                    } else {
                        window.location = $('#backbtn').attr('href');
                    }
                });




        };


    </script>
}
