@model WebAppen.Models.PhotoVM

@{
    ViewBag.Title = "ta bort";
}

<h2>ta bort</h2>



<h3>Säker du vill ta bort?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEdited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEdited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublicPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublicPhoto)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("Delete", "Photo", new { id = Model.id, AlbumID=Model.AlbumID}, FormMethod.Post, new { id = "deletepictureform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.id);
    @Html.HiddenFor(m => Model.AlbumID);
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" id="removelink"/> |
        @Html.ActionLink("Back to image", "Details", "Photo", Model, null)
    </div>
}

@section scripts {
    <script type="text/javascript">

        var deleteform = $('#deletepictureform');

        deleteform.on('submit', function (e) {
            e.preventDefault();
            
            swal({
                    title: "Ta bort bild!?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {
                    $.ajax({
                        url: "/Photo/Delete",
                        type: "post",
                        data: deleteform.serialize(),
                        success: function (data) {
                            swal("Success", "bilden är bort tagen.", "success");
                            window.location.href = data;

                        },
                        error: function (e) {
                            swal("Error", "gick inte att ta bort den", "error");
                        }
                    });

               

                });
        });
    </script>

    }