@model PhotoVM


@{
    ViewBag.Title = "Details";
}
<h2>Details | @Model.Name</h2>
<div class="img-container row">
    <div class="image col-md-6">
        @Html.HiddenFor(m => m.id, new { id = "photoID" })
        <img src="@Url.Content($"{Model.Path}")" alt="@Model.Description" class="img-responsive" />
    </div>
    <div class="imageinfo col-md-6">
        <div class="description">
            @Html.LabelFor(m => m.Description)
            @Html.DisplayFor(m => m.Description)
        </div>
        <p>
            @Html.LabelFor(m => m.Uploader)
            @Html.DisplayFor(m => m.Uploader)
        </p>
        <p>
            @Html.LabelFor(m => m.DatePosted)
            @Html.DisplayFor(m => m.DatePosted)
        </p>
        <p>
            @Html.LabelFor(m => m.DateEdited)
            @Html.DisplayFor(m => m.DateEdited)
        </p>
        @if (User.Identity.IsAuthenticated   && Model.User.Email == User.Identity.Name)
            {
            <p>
                @Html.ActionLink("Edit", "Edit", "Photo", Model, null) |
                @Html.ActionLink("Delete", "Delete", "Photo", Model, null)
            </p>
            <div id="test">

            </div>
            }
        @if (User.Identity.IsAuthenticated)
            {
            @Html.Action("newComment", "Comment", Model)
            }
        else
            {
            @Html.ActionLink("Login to post comments", "Login", "Account")
            }
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <h3>Comments</h3>
        <span>
            @Html.ActionLink("Back to Album", "ViewAlbum", "Album", new { id = Model.AlbumID }, null)
        </span>
        <hr />
        <div id="commentcontainer">
            @Html.Action("Comments", "Comment", new { photoID = Model.id })
           
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/comments.js"></script>
}


