@model CommentsVM

@if (User.Identity.IsAuthenticated)
    {
    using (Html.BeginForm("NewComment","Comment", FormMethod.Post, new { id = "newcommentform" }))
        {
        @Html.AntiForgeryToken()
        <p>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.PhotoID)
        </p>
        <h4>Kommentera</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <div>
                    <p>
                        @Html.Label("Titel")
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })


                    </p>
                    <p>
                        @Html.Label("Kommentar")
                        @Html.TextAreaFor(m => m.Comment, 5, 50, new { @class = "form-control", style = "resize: none;" })
                        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                    </p>
                </div>
                <div>
                    <input type="submit" value="Posta" class="btn btn-default" id="commentsubmitbtn" />
                </div>
            </div>
        </div>
        }
    }