@model CommentsVM

@if (User.Identity.IsAuthenticated)
    {
    using (Html.BeginForm("NewComment", "Comment", FormMethod.Post, new { id = "newcommentform" }))
        {
        @Html.AntiForgeryToken()
        <p>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.PhotoID)
        </p>
        <h3>Post comment</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <div>
                    <p>
                        @Html.LabelFor(m => m.Title)
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })


                    </p>
                    <p>
                        @Html.LabelFor(m => m.Comment)
                        @Html.TextAreaFor(m => m.Comment, 5, 50, new { @class = "form-control", style = "resize: none;" })
                        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                    </p>
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-default" id="commentsubmitbtn" />
                </div>
            </div>
        </div>
        }
    }